@import url('//fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Oswald:400,700,300')

body
  background: #F0D8A8
  padding: 20px

*
  box-sizing: border-box
  outline: none

.clearfix
  &:after
    content: ""
    display: table
    clear: both

.button
  display: inline-block
  height: 40px
  line-height: 40px
  font-family: 'Oswald'
  font-size: 14px
  background: darken(#6f7c47, 30%)
  color: #fff
  padding: 0 20px
  border-radius: 20px
  text-decoration: none
  border: none
  
  &:hover
    background: darken(#6f7c47, 30%)

h1
  margin: 0
  padding: 20px 0
  display: block
  width: 100%
  
  @extend .clearfix
    
  .title
    font-family: 'Oswald'
    font-size: 36px
    color: #6f7c47
    line-height: 40px
    float: left
    
  .button
    margin-left: 20px

.content.store-picker
  input[type=text]
    border-radius: 20px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    height: 40px
    padding: 10px
    line-height: 20px
    font-size: 18px
    border: 0
    width: 400px
    color: #333
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4)
    float: left
    
  .button
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  
  .stores
    margin: 20px 0
    
    .store
      height: 60px
      line-height: 60px
      border-top: 1px solid rgba(255, 255, 255, 0.5)
      font-family: 'Oswald'
      font-size: 22px
      color: #8c5542
      cursor: hand
      cursor: pointer
      padding-left: 10px
      
      &:hover
        background: darken(#F0D8A8, 10%)

.content.inventory
  .products
    @extend .clearfix
  
  .loading, .product
    width: 239px
    height: 319px
    float: left
    
  .loading
    background: url(images/loading.gif) center center no-repeat

  .product
    overflow: hidden
    border-radius: 5px
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15)
    position: relative
    margin: 0 15px 15px 0
    background: #fff
    
    img
      width: 100%
      height: 100%
      
    &:hover
      .meta
        bottom: 0px

    .meta
      position: absolute
      left: 0
      bottom: -40px
      width: 100%
      transition: bottom 200ms ease-in-out
      background: transparentify(#8c5542, 75%)
      padding-top: 10px
      
      .name
        line-height: 20px
        font-family: 'Oswald'
        font-weight: 100
        font-size: 18px
        padding: 0 10px
        color: #fff
        text-align: center
        
      .size, .price
        margin-top: 10px
        width: 50%
        height: 40px
        float: left
        text-align: center
        color: #f0e8d8
        line-height: 40px
        border-top: 1px solid rgba(255, 255, 255, 0.5)
        
      .size
        border-right: 1px solid rgba(255, 255, 255, 0.5)
        font-family: 'Oswald'
        font-weight: light
        font-size: 14px
        
      .price
        font-family: 'Oswald'
        font-weight: bold
        font-size: 22px
        
    .inventory
      position: absolute
      right: -65px
      top: -44px
      width: 150px
      height: 100px
      background: #6f7c47
      transform: rotate(45deg)
      padding-top: 55px
      text-align: center
      
      .big
        color: #fff
        font-size: 18px
        font-family: 'Oswald'
        font-weight: bold
        line-height: 20px
      
      .small
        color: #fff
        font-size: 14px
        font-family: 'Oswald'
        font-weight: normal
        line-height: 20px